@use 'reset';
@use 'tokens/color-tokens' as color;
@use 'tokens/tokens' as token;

:root {
  color: color.$ink;
  background: color.$app-background;
  font-family: token.$font-family-sans;
  font-weight: token.$font-weight-light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  background: color.$app-background;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
